
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="/Usuarios/Login" method="post">
    <div>
        <input type="text" name="Correo"  />
    </div>

    <div>
        <input type="password" name="Pass" />
    </div>
    <input type="submit" value="Acceder" />
</form>